*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 700px;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    perspective: 600px;
}
.coins{
    height: 300px;
    width: 300px;
    position: relative;
    transform-style:preserve-3d ;
    margin: 0 auto;
}
img{
    width: 295px;
}
.heads, .tails{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
#flip{
    background-color: #555;
    color: white;
    border: none;
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}
#flip:hover{
    filter: brightness(0.9);
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-head {
    0%{transform: rotateX(0deg);}
    100%{transform: rotateX(1980deg);}
}
@keyframes spin-tail {
    0%{transform: rotateX(0deg);}
    100%{transform: rotateX(1800deg);}
}